<header>
    <div class="main">
        <div class="logo">
            <img src="assets/images/k1.png" style="border-radius: 10px;">
        </div>
        <ul>
            <li class="active" ><a href="#" style="border-radius: 10px;">Home</a></li>
            <li><a href="#" style="border-radius: 10px;">Dashboard</a></li>
            <li><a (click)="results()" style="border-radius: 10px;">Sudents History</a></li>
            <li><a (click)="Logout()" style="border-radius: 10px;">Logout</a></li>
        </ul>
    </div>
    <div class="title">
        <h1>WELCOME!</h1>
    </div>
    <div class="button">
        <a type="button" (click)="toUploadPage()" class="btn">Upload File</a>
        <a (click)="results()" class="btn">Student Results</a>
    </div>
</header>