<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="topleft">
            <figure><img src="assets/images/Kanini-Logo.svg" alt="Logo" width="300" height="100" ></figure>
        </div>
        
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Reset Password</h2>
                    <form  #resetpage1="ngForm" (ngSubmit)="onsubmit()">
                    
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="e_mail" [(ngModel)]="mail" id="email" placeholder="Your Email" required/>

                        </div>
                        
                        <div class="form-group form-button">
                            <input type="submit" name="sign_up" id="signup" [disabled]="!resetpage1.valid" class="form-submit" value="Submit"/>
                        </div>

                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="assets/images/signup-image.jpg" alt="sing up image"></figure>
                    <a (click)="studlog()" >Home Page</a>
                </div>
            </div>
        </div>
    </section>

                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
    
</div>

