<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
      
</style>
</head>
<body>
  
    <table>
        <tr><td>Your new password is: [password]</td></tr>
        <tr ><td>Please click on the button to reset the password</td></tr>
        <tr ><td>
            <a href=[link]><button>Click here to update</button></a>
            </td>
            
        </tr>
</table>
</body>
</html>

